*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,body{
   
   background: url("https://images.unsplash.com/photo-1516557070061-c3d1653fa646?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80");
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.btn{
    border-radius: 10px;
    overflow-x: hidden;
    padding: 20px 40px;
    background-color: rgb(246, 22, 115);
    z-index: 1;
    position: relative;
    color: rgb(0, 0, 0);
}

.btn::before{
    content: "";
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transform: translateX(-90px);
    background: url(image/icons8-car-16\ \(1\).png) no-repeat center ;
    background-size: 40px;
   
    transform-origin: left;
    transition: all 1s;
    
}



.btn h1{
    transition: all 1s ease;
   
}

.btn:hover::before{
    /* transform: translateX(90px); */
    animation: bg 1s 1 alternate ease;
    
}

@keyframes bg {
    from{
        transform: translateX(-90px);
    }
    to{
        transform: translateX(90px);
    }
    
}

.btn:hover h1{
    animation: color1 1s 1 ease;
   
}

@keyframes color1 {

    /* from{
        color: black;
    }
    to{
        color:transparent;
    } */
    
   0%{
    color:black;
   }
   50%{
    color: transparent;
   }
   100%{
    color: black;
   }
    
}